$color-line-default: #aaa;
$color-line-blue: #0a59ae;
$color-line-brown: #b57a25;
$color-line-green: #107547;
$color-line-orange: #f5a818;
$color-line-red: #d90023;
$color-line-yellow: #fedb00;

@mixin metro-fill-lines() {
	&.BL {
		fill: $color-line-blue;
	}
	&.BR {
		fill: $color-line-brown;
	}
	&.G {
		fill: $color-line-green;
	}
	&.O {
		fill: $color-line-orange;
	}
	&.R {
		fill: $color-line-red;
	}
	&.Y {
		fill: $color-line-yellow;
	}
}

@mixin metro-stroke-lines() {
	&.BL {
		stroke: $color-line-blue;
	}
	&.BR {
		stroke: $color-line-brown;
	}
	&.G {
		stroke: $color-line-green;
	}
	&.O {
		stroke: $color-line-orange;
	}
	&.R {
		stroke: $color-line-red;
	}
	&.Y {
		stroke: $color-line-yellow;
	}
}
