/* line 7, ../../src/scss/modules/_base.scss */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font: 87.5%/1.25 "Helvetica Neue", HelveticaNeue, helvetica, arial, sans-serif;
  overflow: hidden;
  line-height: 1.25em;
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -webkit-hyphens: auto;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}

/* line 27, ../../src/scss/modules/_base.scss */
div {
  height: 100%;
}

/* line 31, ../../src/scss/modules/_base.scss */
svg {
  stroke-width: 0px;
}

/* line 36, ../../src/scss/modules/_base.scss */
.metro-map-view {
  height: 100%;
  width: 100%;
  z-index: 20;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  vertical-align: top;
  overflow: hidden;
}

/* line 3, ../../src/scss/modules/_metro.scss */
.metro-station .container {
  fill: white;
  fill-opacity: 1;
}
/* line 8, ../../src/scss/modules/_metro.scss */
.metro-station .entry {
  fill-opacity: 0.6;
}
/* line 10, ../../src/scss/modules/_mixins.scss */
.metro-station .entry.BL {
  fill: #0a59ae;
}
/* line 13, ../../src/scss/modules/_mixins.scss */
.metro-station .entry.BR {
  fill: #b57a25;
}
/* line 16, ../../src/scss/modules/_mixins.scss */
.metro-station .entry.G {
  fill: #107547;
}
/* line 19, ../../src/scss/modules/_mixins.scss */
.metro-station .entry.O {
  fill: #f5a818;
}
/* line 22, ../../src/scss/modules/_mixins.scss */
.metro-station .entry.R {
  fill: #d90023;
}
/* line 25, ../../src/scss/modules/_mixins.scss */
.metro-station .entry.Y {
  fill: #fedb00;
}
/* line 13, ../../src/scss/modules/_metro.scss */
.metro-station.active {
  font-weight: 800;
}
/* line 17, ../../src/scss/modules/_metro.scss */
.metro-station.end {
  font-weight: 600;
}
/* line 21, ../../src/scss/modules/_metro.scss */
.metro-station .station-name {
  fill-opacity: 1;
  font-size: 0.875em;
  font-weight: 500;
  fill: black;
}
/* line 27, ../../src/scss/modules/_metro.scss */
.metro-station .station-name.end, .metro-station .station-name.main {
  font-size: 1em;
}
/* line 32, ../../src/scss/modules/_metro.scss */
.metro-station .station-name.active {
  fill-opacity: 1;
}

/* line 38, ../../src/scss/modules/_metro.scss */
.metro-line {
  stroke: #aaa;
  stroke-width: 0.15em;
}
/* line 31, ../../src/scss/modules/_mixins.scss */
.metro-line.BL {
  stroke: #0a59ae;
}
/* line 34, ../../src/scss/modules/_mixins.scss */
.metro-line.BR {
  stroke: #b57a25;
}
/* line 37, ../../src/scss/modules/_mixins.scss */
.metro-line.G {
  stroke: #107547;
}
/* line 40, ../../src/scss/modules/_mixins.scss */
.metro-line.O {
  stroke: #f5a818;
}
/* line 43, ../../src/scss/modules/_mixins.scss */
.metro-line.R {
  stroke: #d90023;
}
/* line 46, ../../src/scss/modules/_mixins.scss */
.metro-line.Y {
  stroke: #fedb00;
}

/* line 45, ../../src/scss/modules/_metro.scss */
.metro-prediction {
  opacity: 1;
}
/* line 10, ../../src/scss/modules/_mixins.scss */
.metro-prediction.BL {
  fill: #0a59ae;
}
/* line 13, ../../src/scss/modules/_mixins.scss */
.metro-prediction.BR {
  fill: #b57a25;
}
/* line 16, ../../src/scss/modules/_mixins.scss */
.metro-prediction.G {
  fill: #107547;
}
/* line 19, ../../src/scss/modules/_mixins.scss */
.metro-prediction.O {
  fill: #f5a818;
}
/* line 22, ../../src/scss/modules/_mixins.scss */
.metro-prediction.R {
  fill: #d90023;
}
/* line 25, ../../src/scss/modules/_mixins.scss */
.metro-prediction.Y {
  fill: #fedb00;
}
/* line 31, ../../src/scss/modules/_mixins.scss */
.metro-prediction.BL {
  stroke: #0a59ae;
}
/* line 34, ../../src/scss/modules/_mixins.scss */
.metro-prediction.BR {
  stroke: #b57a25;
}
/* line 37, ../../src/scss/modules/_mixins.scss */
.metro-prediction.G {
  stroke: #107547;
}
/* line 40, ../../src/scss/modules/_mixins.scss */
.metro-prediction.O {
  stroke: #f5a818;
}
/* line 43, ../../src/scss/modules/_mixins.scss */
.metro-prediction.R {
  stroke: #d90023;
}
/* line 46, ../../src/scss/modules/_mixins.scss */
.metro-prediction.Y {
  stroke: #fedb00;
}
/* line 50, ../../src/scss/modules/_metro.scss */
.metro-prediction.sonar {
  fill: none;
  stroke-width: 0.3em;
}
/* line 55, ../../src/scss/modules/_metro.scss */
.metro-prediction text {
  fill: black;
  font-size: 1em;
  font-weight: bold;
}

/* line 62, ../../src/scss/modules/_metro.scss */
.metro-route-view {
  height: 100%;
  width: 100%;
  z-index: 10;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.15rem;
  fill-opacity: 1;
  stroke-width: 1;
  transition: all 500ms ease;
}
/* line 83, ../../src/scss/modules/_metro.scss */
.metro-route-view .metro-route-predictions .heading {
  font-size: 1em;
  textLength: 20;
  lengthAdjust: spacing;
}
/* line 88, ../../src/scss/modules/_metro.scss */
.metro-route-view .metro-route-predictions .heading path {
  fill-opacity: 1;
  stroke: black;
  stroke-width: 0.15em;
}
/* line 95, ../../src/scss/modules/_metro.scss */
.metro-route-view .metro-route-predictions .metro-route-prediction {
  font-size: 1em;
}
/* line 10, ../../src/scss/modules/_mixins.scss */
.metro-route-view .metro-route-predictions .metro-route-prediction .line.BL {
  fill: #0a59ae;
}
/* line 13, ../../src/scss/modules/_mixins.scss */
.metro-route-view .metro-route-predictions .metro-route-prediction .line.BR {
  fill: #b57a25;
}
/* line 16, ../../src/scss/modules/_mixins.scss */
.metro-route-view .metro-route-predictions .metro-route-prediction .line.G {
  fill: #107547;
}
/* line 19, ../../src/scss/modules/_mixins.scss */
.metro-route-view .metro-route-predictions .metro-route-prediction .line.O {
  fill: #f5a818;
}
/* line 22, ../../src/scss/modules/_mixins.scss */
.metro-route-view .metro-route-predictions .metro-route-prediction .line.R {
  fill: #d90023;
}
/* line 25, ../../src/scss/modules/_mixins.scss */
.metro-route-view .metro-route-predictions .metro-route-prediction .line.Y {
  fill: #fedb00;
}
/* line 102, ../../src/scss/modules/_metro.scss */
.metro-route-view .metro-route-predictions .metro-route-prediction .wrapper {
  stroke: #aaa;
  fill: none;
}
/* line 107, ../../src/scss/modules/_metro.scss */
.metro-route-view .metro-route-predictions .metro-route-prediction .arrival {
  display: inline-block;
  textLength: 10;
  lengthAdjust: spacing;
}
/* line 112, ../../src/scss/modules/_metro.scss */
.metro-route-view .metro-route-predictions .metro-route-prediction .destination {
  display: inline-block;
}
/* line 120, ../../src/scss/modules/_metro.scss */
.metro-route-view .metro-route-plan .entry {
  font-size: 1em;
}
/* line 123, ../../src/scss/modules/_metro.scss */
.metro-route-view .metro-route-plan .entry .line {
  fill-opacity: 0.8;
}
/* line 10, ../../src/scss/modules/_mixins.scss */
.metro-route-view .metro-route-plan .entry .line.BL {
  fill: #0a59ae;
}
/* line 13, ../../src/scss/modules/_mixins.scss */
.metro-route-view .metro-route-plan .entry .line.BR {
  fill: #b57a25;
}
/* line 16, ../../src/scss/modules/_mixins.scss */
.metro-route-view .metro-route-plan .entry .line.G {
  fill: #107547;
}
/* line 19, ../../src/scss/modules/_mixins.scss */
.metro-route-view .metro-route-plan .entry .line.O {
  fill: #f5a818;
}
/* line 22, ../../src/scss/modules/_mixins.scss */
.metro-route-view .metro-route-plan .entry .line.R {
  fill: #d90023;
}
/* line 25, ../../src/scss/modules/_mixins.scss */
.metro-route-view .metro-route-plan .entry .line.Y {
  fill: #fedb00;
}
/* line 129, ../../src/scss/modules/_metro.scss */
.metro-route-view .metro-route-plan .link {
  stroke-width: 1;
  stroke: #aaa;
}

/* line 136, ../../src/scss/modules/_metro.scss */
.metro-map-detail {
  transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transition: all .5s ease-in-out;
  position: relative;
  width: 50%;
  height: 50%;
  left: 25%;
  top: 10%;
  z-index: 20;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #aaa;
  border-radius: 3px;
}
/* line 156, ../../src/scss/modules/_metro.scss */
.metro-map-detail section {
  overflow-y: scroll;
  height: 100%;
}
/* line 160, ../../src/scss/modules/_metro.scss */
.metro-map-detail p {
  margin-top: 0;
  padding-left: 2%;
  padding-right: 2%;
}
/* line 166, ../../src/scss/modules/_metro.scss */
.metro-map-detail h4 {
  margin-bottom: 0;
  padding-left: 2%;
}
/* line 170, ../../src/scss/modules/_metro.scss */
.metro-map-detail h4:not(:first-child) {
  margin-top: 0;
}
/* line 175, ../../src/scss/modules/_metro.scss */
.metro-map-detail header .close {
  padding: 1%;
  float: right;
}
/* line 181, ../../src/scss/modules/_metro.scss */
.metro-map-detail footer {
  position: absolute;
  background-color: white;
  bottom: 0;
  left: 0;
  width: 100%;
}
/* line 188, ../../src/scss/modules/_metro.scss */
.metro-map-detail footer span {
  padding: 2%;
}
/* line 191, ../../src/scss/modules/_metro.scss */
.metro-map-detail footer span:first-child {
  float: left;
}
/* line 194, ../../src/scss/modules/_metro.scss */
.metro-map-detail footer span:last-child {
  float: right;
}
/* line 199, ../../src/scss/modules/_metro.scss */
.metro-map-detail.active {
  transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
}
